.activity {
  margin: 24px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  flex-direction: column;
}

.chart-wrapper {
  margin: 36px 0 36px 0;
  height: 300px;
  display: flex;
  overflow: hidden;
}

.title {
  margin: 16px 0 0 16px;
}