<h2 mat-dialog-title>Color of nodes</h2>

<div [formGroup]="form">

  <mat-form-field>
      <mat-select placeholder="Choose a color parameter">
        <mat-option *ngFor="let param of parameters" [value]="param">
          {{param}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="color-picker">
      <input #leftColor type="color" formControlName="leftColor" />
      <div class="gradient" [style.background-image]="gradient | safeHtml"></div>
      <input #rightColor type="color" formControlName="rightColor" />
    </div>

    
    <div class="actions">
      <button mat-button (click)="close()">Apply</button>
    </div>
    
    {{ gradient| safeHtml}}

</div>