<body class="site">
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Open Student Environment</h1>
  </mat-toolbar>
  <mat-drawer-container class="drawer-container" [hasBackdrop]="true">
    <mat-drawer #drawer>
      <mat-nav-list class="nav-sidebar">
        <div class="nav-item" routerLink="/">
          <mat-icon style="margin-right: 16px;">folder_open</mat-icon>
          Open file
        </div>
        <div class="nav-item" routerLink="/">
          <mat-icon style="margin-right: 16px;">info</mat-icon>
           <a>Info</a>
        </div>
      </mat-nav-list> 
    </mat-drawer>
    <mat-drawer-content class="drawer-content">
      <main class="main-content-wrapper">
          <router-outlet></router-outlet>
      </main>
    </mat-drawer-content>
  </mat-drawer-container>
</body>

