<div class="indicators" *ngFor="let s of series">
  <div class="indicator" *ngIf="s.type === 'discrete'">
    <div class="title">{{ s.name }}</div>
    <div class="graph-wrapper">
      <ngx-charts-bar-vertical
        [scheme]="{domain: ['#a8385d']}"
        [results]="s.series">
      </ngx-charts-bar-vertical>
    </div>
  </div>
  <div class="indicator" *ngIf="s.type === 'continuous'">
    <div class="title">{{ s.name }}</div>
      <div class="graph-wrapper">
        <ngx-charts-line-chart
          [scheme]="{domain: ['#a8385d']}"
          [curve]="curve"
          [results]="[s]">
        </ngx-charts-line-chart>
      </div>
    </div>
</div>