<div class="container">
  
  <div class="profile-header">

    <div class="profile-details">
      <app-profile-details></app-profile-details>
    </div>
      <app-profile-summary></app-profile-summary>
    <div class="indicators-summary">

    </div>

  </div>

  <mat-tab-group mat-stretch-tabs>
    <mat-tab label="XAPI ACTIVITY">
      <app-activity></app-activity>
    </mat-tab>
    <mat-tab label="GRADES">
      <app-grades></app-grades>
    </mat-tab>
    <mat-tab label="INDICATORS">
      <app-indicators></app-indicators>
    </mat-tab>
  </mat-tab-group>

    <div class="tab-content">

    </div>

</div>
