.profile-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.tab-content {
  flex: 1;
}