<div class="summary-wrapper">

  <div class="summary-graph">
    <ngx-charts-polar-chart
      [results]="data"
      [autoScale]="false"
      [scheme]="'flame'"
      [yAxisMinScale]="100"
      [showXAxisLabel]="false"
      [showYAxisLabel]="true"
      [yAxisLabel]="'Normalized indicators'"
      [xAxis]="true"
      [yAxis]="true">
    </ngx-charts-polar-chart>
  </div>

  <!-- <div class="indicators">
    <div class="indicator" *ngFor="let indicator of indicators">
      <div class="name">{{ indicator.name }}</div>
      <div class="score">{{ indicator.value | number:'2.0-0'}}%</div>
    </div>
  </div> -->

</div>